* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin-left: 20px;
  margin-right: -20px;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

.big-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  margin-right: 40px;
}

.grid-item {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  padding: 0;
  border: 1px solid #ddd;
  height: 180px;
  width: 108px;
}

img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

.card-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.card-details {
  z-index: 1;
  position: absolute;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.6); */
  width: 100%;
  text-align: center;
  padding: 3px;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  letter-spacing: 1px;
}

.deck-container {
  height: 300px;
  width: 200px;
  border-radius: 5px;
  margin-left: 40px;
  margin-right: 20px;
  position: relative;
  padding: 0;
}

.deck-image {
  width: 100%;
  height: 100%;
}

.deck-details {
  z-index: 1;
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 23%;
  color: white;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

/* .deck-name {
} */

.deck-number {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
}

.next {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

.next:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.next:focus {
  outline: none;
}

.ex {
  position: relative;
  height: 100%; /* this can be anything */
  width: 100%; /* ...but maintain 1:1 aspect ratio */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.ex::before,
.ex::after {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  content: "";
  width: 100%;
  height: 8px; /* cross thickness */
  background-color: red;
}

.ex::before {
  transform: rotate(45deg);
}

.ex::after {
  transform: rotate(-45deg);
}
