* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

.container {
  display: grid;
  grid-gap: 0;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  border: 1px solid #ddd;
  height: 200px;
  width: 120px;
}

img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

.card-container {
  height: 200px;
  width: 120px;
  position: relative;
}

.card-details {
  z-index: 1;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  text-align: center;
  color: white;
  padding: 3px;
}
